{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AZURE_CLIENT_ID": "246cfd43-77c5-4c63-8f77-d6a19a3876ec",
    "AZURE_TENANT_ID": "e4e34038-ea1f-4882-b6e8-ccd776459ca0"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
